<div class="container form-container" style="width:500px">
  <h3>Guess The Scores!</h3>
    <% @member_guesses.each do |member_guess| %>
      <%= simple_form_for([@community, member_guess]) do |f| %>
        <%= f.label member_guess.fixture.home_team, label_html: {class: "form-guess-label"} %>
        <%= f.input :home_goals_guess, label: false, input_html: {class: "form-guess"} %>
        <%= f.input :away_goals_guess, label: false, input_html: {class: "form-guess"} %>
        <%= f.label member_guess.fixture.away_team, label_html: {class: "form-guess-label"} %>
      <%= f.input :fixture, as: :hidden, input_html: {value: member_guess.fixture.id} %>
      <div class="submit-order-form">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
      <% end %>
    <% end %>
</div>
