<div class="container" id="show-form">
  <h3 id="show-h3">Overall Results </h3>
  <br>
  <div class="table-responsive{-sm|-md|-lg|-xl}">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">Exact <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Times that you've guessed the exact score"></i></th>
          <th scope="col">Fuzzy <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Times that you've guessed the right outcome"></i></th>
          <th scope="col">Points <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Total points - 3 points for each exact score, 1 point for each right outcome"></i></th>
        </tr>
      <tbody>
        <% @sorted_members.each_with_index do |member, index| %>
            <tr scope="row"><td><%= index + 1%></td>
            <td><%= member.user.first_name %></td>
            <td><%= member.overall_exact %></td>
            <td><%= member.overall_fuzzy %></td>
            <td><%= member.overall_points %></td></tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
