<br>
<div class="container" style="width:500px">
  <% @member_guesses.each do |member_guess| %>
    <div class="guess-score">
      <%= simple_form_for([@community, member_guess], html: {class: "guess-score", data:{submit_scores_target: "form"}}) do |f| %>
        <%= f.label member_guess.fixture.home_team, label_html: {class: "form-guess-label"} %>
        <%= f.input :home_goals_guess, label: false, input_html: {class: "form-guess"} %>
        <%= f.input :away_goals_guess, label: false, input_html: {class: "form-guess"} %>
        <%= f.label member_guess.fixture.away_team, label_html: {class: "form-guess-label"} %>
      <%= f.input :fixture, as: :hidden, input_html: {value: member_guess.fixture.id} %>
    </div>
    <div class="submit-order-form" style="">
      <%= f.submit "Submit", class: "btn btn-primary", style:"display:none" %>
    </div>
    <% end %>
  <% end %>
</div>
