<div class="container" style="width:600px">
  <h3>Weekly Results</h3>
  <div class="table-responsive{-sm|-md|-lg|-xl}">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">Exact</th>
          <th scope="col">Fuzzy</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
      <% @sorted_weekly.each_with_index do |member, index| %>
          <tr scope="row"><td><%= index + 1%></td>
          <td><%= member.user.first_name %></td>
          <td><%= member.weekly_exact %></td>
          <td><%= member.weekly_fuzzy %></td>
          <td><%= member.weekly_points %></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
