<div class="container" id="show-form">
  <h3 id="show-h3">Weekly Results</h3>
  <br>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Exact Result <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Times that you've guessed the exact score"></i></th>
        <th scope="col">Right Result <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Times that you've guessed the right outcome"></i></th>
        <th scope="col">Points <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Total points - 3 points for each exact score, 1 point for each right outcome"></i></th>
      </tr>
    </thead>
    <tbody>
    <% @sorted_weekly.each_with_index do |member, index| %>
        <tr scope="row"><td><%= index + 1%></td>
        <td><%= member.user.first_name %></td>
        <td><%= member.weekly_exact %></td>
        <td><%= member.weekly_fuzzy %></td>
        <td><%= member.weekly_points %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>
