<div class="show-page">
  <br>
    <h2 id="show-h2"><%= @community.community_name %></h2>
    <%= link_to "show results", fast_forward_community_path(@community), method: :post, class: "btn btn-primary" %>
  <br>
</div>
<div class="row">
  <div class="column">
    <%= render "form" %>
  </div>
  <div class="column">
    <%= render "weekly_table" %>
    <br>
    <%= render "overall_table" %>
  </div>
</div>

<div class="row d-flex align-items-center text-center justify-content-left show-items">
  <div class="col-sm-12 col-lg-6">
    <%= link_to "<< Go back", communities_path %>
  </div>
</div>
