<br>
<h2><%= @community.community_name %></h2>
<br>
<div class="row">
  <div class="column">
    <%= render "form" %>
  </div>
  <div class="column">
    <%= render "weekly_table" %>
    <%= render "overall_table" %>
  </div>
</div>


<%= link_to "<< Go back", communities_path %>
